/* CSS styles */
/* warnock-pro, Palatino,"Palatino Linotype","Palatino LT STD","Book Antiqua",Georgia,serif, italic; */
* {
    margin: 0;
    font-family: "Warnock Pro","Palatino Nova","Palatino Linotype","Palatino LT STD","Book Antiqua",Georgia,serif;
    font-variant: normal;
    
    box-sizing: border-box
}
body {
	background-color: rgb(255, 246, 240);
}
img {
    width: 100%;
}
#Back {
    top: 0;
    margin: 0;
    padding: 0;
    width: 100%;
    position:absolute;
    z-index: -2;
}
#fixedBlack {
    width: 100%;
    bottom: 205px;
    height: 200px;
    position:relative;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0.2) 42%, rgba(255, 255, 255, 0) 100%);
    z-index: 0;
}
main {
    min-width: 800px;
    margin-top: 10%;
    padding: 2%;
    background-color: white;
    margin-left: 15%;
    margin-right: 15%;
}

#Header {
    color: #424242;
    padding-bottom: 10%;
}

.Name {
    font-variant: small-caps;

    font-weight: 400;
    font-size: 2.8rem;
    text-align: center;
}

.Description {
    text-align: center;
    font-weight: 100;
    font-size: 30px;
}

section {
    border-top: 2px solid;

    padding: 10px;
    margin-bottom: 60px;
    font-size: 30px;
    text-align: left;
}

#Experience {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    justify-content: center;

}
.Card {
    color: #424242;
    background-color: antiquewhite;
    border: 1px solid;
    box-shadow: 4px 4px 5px rgba(250, 50, 50, .4);
    margin-top: 50px;
    margin: 10px;
    padding: 15px;
    width: 40%
}


h1 {
	font-weight: 400;
	font-size: 2.8rem;
    color: #000000;
    text-align: left;
}
h3 {
    color: #424242;
    text-align: center;
    border-bottom: 1px solid;
    margin-left: 0;
}

ul {
    list-style-type: none;
    padding-left: 0;
}
li {
    padding-bottom: 30px;
    padding-left: 0;
    
}